body{
 background:#e0f2fe;
 font-family:Arial, Helvetica, sans-serif;
 margin:0;
}



.subject-grid{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
 gap:20px;
}

.card{
 background:white;
 padding:20px;
 border-radius:10px;
 box-shadow:0 3px 10px rgba(0,0,0,0.1);
}



/* Header */

header{
 background:#1e293b;
 color:white;
 padding:15px 30px;
 display:flex;
 justify-content:space-between;
 align-items:center;
}

header h2{
 margin:0;
}

/* container */

.container{
 width:80%;
 margin:auto;
 margin-top:30px;
}

/* cards */

.card{
 background:white;
 padding:20px;
 margin-bottom:20px;
 border-radius:10px;
 box-shadow:0 3px 10px rgba(0,0,0,0.1);
 transition:0.3s;
}

.card:hover{
 transform:translateY(-3px);
}

/* grid */

.subject-grid{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
 gap:20px;
}

/* buttons */

button{
 background:#2563eb;
 color:white;
 border:none;
 padding:10px 16px;
 border-radius:6px;
 cursor:pointer;
 font-weight:bold;
}

button:hover{
 background:#1d4ed8;
}

/* quiz */

.quiz-box{
 background:rgb(200, 197, 197);
 padding:15px;
 margin-bottom:15px;
 border-radius:8px;
 border:1px solid #ddd;
}

/* certificate */

.certificate{
 margin: auto;
 margin-top: 100px;
 width:700px;
 height: 450px;
 background:linear-gradient(to bottom, #ffffff, #aba8a8);

 padding:40px;
 border:20px double black;
 border-radius:10px;
 text-align:center;
 box-shadow:0 4px 12px rgba(0,0,0,0.2);
}

.certificate h1{
 margin-bottom:30px;
 font-weight: 600;
 font-size: xx-large;

}

.certificate h2{
 color:#2563eb;
}
.certificate p{
    font-size: large;
    font-style: italic;
}


.topic{
  
    height: 500px;
}
.topic h1{
    background-color: #1e293b;
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 5px;
}
.topic p{
    font-size: large;
}
.topic button{
    margin-left: 48vw;
}

.loginclass{
    width: 250px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    border: 5px solid #1e293b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title{
 text-align:center;
 margin-bottom:20px;
}

.home-grid{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
 gap:20px;
}

.home-card{
 background:white;
 padding:20px;
 border-radius:10px;
 box-shadow:0 3px 10px rgba(0,0,0,0.1);
 text-align:center;
}

.home-card:hover{
 transform:translateY(-3px);
}