<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<title>Certificate</title>
</head>

<body style="text-align:center">

<h1>Certificate of Completion</h1>

<p>This certificate is awarded to</p>

<h2><%= cert.user.name %></h2>

<p>for completing the course</p>

<h3><%= cert.subject.name %></h3>

<p>Certificate ID: <%= cert.certificateId %></p>

</body>
</html>