<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/css/style.css">
<title>Dashboard</title>
</head>

<body>

<header>
<h2>E-Learning Platform</h2>
<a href="/logout">Logout</a>
</header>



<div class="container">

<h2>Your Subjects</h2>

<div class="subject-grid">

<% subjects.forEach(subject => { %>

<div class="card">

<h3><%= subject.name %></h3>

<p>Start learning this subject</p>

<a href="/subject/<%= subject._id %>">
<button>Start Learning</button>
</a>

</div>

<% }) %>

</div>

</div>

</body>
</html>