<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<title>E-Learning Platform</title>
</head>

<body>

<header>
<h2>E-Learning Platform</h2>

<nav>
<a href="/login">Login</a>
<a href="/register">Register</a>
</nav>

</header>

<div class="container">

<h2 class="home-title">Available Subjects</h2>

<div class="home-grid">

<% subjects.forEach(subject => { %>

<div class="home-card">

<h3><%= subject.name %></h3>

<p><%= subject.description %></p>

<a href="/subject/<%= subject._id %>">
<button>View Topics</button>
</a>

</div>

<% }) %>

</div>

</div>

</body>
</html>