<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<title>Subject</title>
</head>

<body>

<header>
<h2><%= subject.name %></h2>
</header>

<div class="container">

<% topics.forEach(topic => { %>

<div class="card">

<h3><%= topic.title %></h3>

<a href="/topic/<%= topic._id %>">
<button>Open Topic</button>
</a>

</div>

<% }) %>

</div>
</body>
</html>