<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<title>Topic</title>
</head>

<body>

<h1><%= topic.title %></h1>

<p><%= topic.content %></p>

<br>

<a href="/quiz/<%= topic._id %>">
<button>Take Quiz</button>
</a>

</body>
</html>